# Supabase Configuration
SUPABASE_URL=https://chcevgwoyfffiqeqwbde.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNoY2V2Z3dveWZmZmlxZXF3YmRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEzODMxMjQsImV4cCI6MjA3Njk1OTEyNH0.XfOGBCWNujNpmlZDsqz6je7sQEIbaVliUmcKHb4R1oQ
